@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Allegro manager</h2>
    <p>Aplikacja służąca do zarządzanai sprzedażą produktów na allegro napisana w celach edukacyjnych</p>
</div>

<div class="row">
    <p>Lorem ipsum dolor sit amet.</p>
</div>